@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

:root {
  --dark: #131d2e;
  --dark-light: #1f2a48;
  --gray: #f3f6fd;
  --white: #fefefe;
  --blue: #0178fd;
  --blue-light: #8190ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', sans-serif;
}

body {
  background-color: var(--dark);
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
  transition: all ease 0.5s;
}

header {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 1.5rem;
  font-weight: 700px;
  color: var(--gray);
}

header img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.search-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-light);
  padding: 0 1rem;
  margin-top: 1.25rem;
  border-radius: 6px;
}

.search-content input {
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  text-overflow: ellipsis;
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
}

.search-content input::placeholder {
  color: var(--blue-light);
  font-size: 1rem;
  line-height: 18px;
  font-weight: 700;
}

.search-content button {
  padding: 0.6rem;
  color: var(--gray);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
  background-color: var(--blue);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.search-content button:hover {
  filter: brightness(70%);
}

.main {
  padding: 40px 15px;
  background-color: var(--dark-light);
  border-radius: 8px;
  margin-top: 20px;
}

.main .rightside {
  margin-top: 20px;
  flex: 1;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main .leftside img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header .user-info .leftside {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.main-header .user-info .leftside h1 {
  line-height: 23px;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}
.main-header .user-info .leftside span {
  color: var(--blue);
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.main-header .user-info .rightside {
  color: var(--blue-light);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}

.main .user-bio {
  color: var(--blue-light);
  font-size: 10px;
  line-height: 13px;
  font-weight: 500;
  margin-top: 10px;
  text-align: justify;
  max-width: 250px;
}

.container {
  display: flex;
  width: 100%;
}

.main .badge-user {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--dark);
  padding: 19px 18px;
  border-radius: 10px;
  margin-top: 20px;
}

.main .badge-user .badge {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main .badge-user .badge h3 {
  color: var(--blue-light);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.main .badge-user .badge p {
  color: var(--white);
  font-weight: 700;
  line-height: 23px;
  font-size: 18px;
}

.main .social {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 23px;
}

.main .social-item {
  display: flex;
  gap: 14px;
  align-items: center;
}

.main .social-item img {
  width: 15px;
  height: 20px;
}

.main .social-item span {
  color: #fefefe;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 5%;
}

.main .social-item span a {
  text-decoration: none;
  color: #fefefe;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 5%;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.main .social-item span a:hover {
  color: var(--blue);
}

/* ligth-theme-settings */

body.light {
  background-color: var(--gray);
}

body.light header h2 {
  color: var(--dark);
}

body.light .search-content,
body.light .main {
  background-color: var(--white);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

body.light .search-content input {
  color: var(--blue-light);
}

body.light .main-header .user-info h1 {
  color: var(--dark);
}
body.light .main .badge-user {
  background-color: var(--gray);
}
body.light .main .badge-user .badge p {
  color: var(--dark);
}
body.light .main .social .social-item span,
body.light .main .social-item span a {
  color: var(--dark-light);
}

/* end-of-light-theme */

@media (max-width: 320px) {
  .badge-user {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  .social-item {
    word-wrap: break-word;
  }
}

@media (min-width: 570px) {
  .main {
    padding: 32px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .main .leftside img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .main .social {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .main-header .user-info {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .main-header .user-info #join-date {
    margin-top: 0;
  }

  .main #user-bio {
    margin-top: 18px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    min-width: 80%;
  }
}
